{% extends "base.html" %}

{% block app_content %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://unpkg.com/moment"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/profile/profile.js') }}"></script>
<div class="container-fluid">
    <table class="table table-responsive table-borderless">
    <tr>
        <td width="300px"><img src="{{ user.avatar(300) }}" class="img img-thumbnail img-responsive"></td>
        <td>
            <h1>{{ user.username }}</h1>
            <h4>Team name:</h4>
            <p>{{ team.team_name }}</p>
            {% if user.about_me %}
            <h4>About:</h4>
            <p>{{ user.about_me }}</p>
            {% endif %}
            <br>
            {% if user.last_seen %}<p><i>Last seen: {{ moment(user.last_seen).format('LLL') }}</i></p>{% endif %}
            {% if user == current_user %}
            <a class="btn btn-default btn-md" href="{{ url_for('profile.edit_profile') }}" role="button">Edit Profile</a>
            {% endif %}
        </td>
    </tr>
    </table>
</div>
<hr>
{% if n_posts != 0 %}
<h3>
    Forum posts:
</h3>
<br>
<div id="user_posts">

</div>
<div id="show_more_posts"></div>
{% endif %}
{% endblock %}